$white: #fff;
$black: #0a0a0a;
$darkGray: #757b8c;
$gray1: #d0d3db;
$gray2: #e9ecef;
$gray3: #f3f3f3;

$primary1: #1554d5;
$primary2: #467cec;

$infoYellow: #ffa113;
$infoGreen: #1bbea1;
$infoRed: #ff5a54;

$boxShadow: rgba(17, 38, 146, 0.05);
$boxShadowNav: rgba(138, 146, 166, 0.3);

$timeSuper: 0.05s;
$timeFast: 0.15s;
$timeMedium: 0.3s;
