@import "./src/styles/variables";
@import "./src/styles/mixins.scss";

.wrapper {
  @include flex(row, flex-start, flex-start, nowrap);
  width: 100%;
  min-height: 100vh;
}

.contentWrapper {
  @include flex(column, flex-start, flex-start, nowrap);
  width: 100%;
  margin: 72px 65px 72px 56px;
}
