@import "./src/styles/variables";
@import "./src/styles/mixins.scss";

.wrapper {
  @include flex(row, center, center, nowrap);
  transition: all $timeFast ease-in-out;
  width: 20px;
  height: 20px;
  background: $gray1;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: $primary1;

    .icon {
      fill: $white;
    }
  }
}

.icon {
  transition: all $timeFast ease-in-out;
  fill: $darkGray;
}
